@media only screen and (max-width:1080px) and (max-height: 1920px){

    body{
        background-image: url('../images/Super\ quiz\ ui\ blur\ version.png') ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 30% 10%;
        filter: saturate(1.5);
        overflow: hidden;
    
    }

    .gobackandr img{
        position: relative;
        width: 8.5em;
        top: 4em;
        left: 5em;
        
    }

    .upload-avatr-h2{
        position: relative;
        font-size: 70px;
        left: 3em;
        top: 4em;
        color: white;
        font-family: "Inter" sans-serif;
        font-weight: 600;
    }

    .rectangles{
        position: relative;
        left: 10em;
        top: 20em;
    }

    .main-rectangle{
        position: absolute;
        width: 45em;
    }

    .chooseimgtag{
        position: absolute;
        width: 10em;
        left: 17em;
        top: 15em;
    }

    .insider-rectangle{
        position: absolute;
        width: 35em;
        left: 5em;
        top: 5em;
    }

    .rectangle-file{
        position: absolute;
        z-index: 1;
        left: 5em;
        top: 13em;
        font-size: 35px;
    }

    .continuebtn img{
        position: relative;
        width: 25em;
        bottom: -75em;
        left:3em ;
    }

    .skipbtn img{
        position: relative;
        width: 15em;
        bottom: -66em;
        left: 40em;
    }






}